body {
    font-family: Optima, Candara, Calibri, Arial, sans-serif;
    /* font-family: 'Tangerine', serif; */
}

code {
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 85%;
}

a {
    cursor: pointer;
    text-decoration: none;
}

a:hover {
    color: #00A0FF;
    text-decoration: underline;
}

.title {
    font-size: 38px;
    font-weight: 400;
    /* color: #8C1515; */
    /* center */
    text-align: center;
}

.title2 {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 16px;
    text-align: center;
}


.section {
    /* margin-bottom: 24px; */
    margin-top: 24px;
    display: block;
}

.subsection{
    margin-top: 16px;
    margin-bottom: 0px;
}

.para-heading {
    margin-bottom: 0px;
    margin-top: 24px;
    font-weight: 600;
    font-size: 20px;
}

.para-heading-inline {
    font-weight: 600;
    font-size: 16px;
}

.top {
    padding-top: 40px;
}

.navbar-nav .nav-link {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.28rem;
    /* color: #0044ee; */
    font-weight: 400;
}

h1 {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 600;
    font-size: 28px;
    margin-bottom: 16px;
    color: #8C1515;
}

h2 {
    /* font-family: 'Fira Sans', sans-serif; */
    font-weight: 400;
    font-size: 20px;
}

h3 {
    /* font-family: 'Fira Sans', sans-serif; */
    font-weight: 300;
    font-size: 18px;
}

h4 {
    /* font-family: 'Fira Sans', sans-serif; */
    font-weight: 200;
    font-size: 18px;
}

h5 {
    /* font-family: 'Fira Sans', sans-serif; */
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 4px;
    margin-top: 22px;
}

p {
    font-size: 17px;
    margin-bottom: 10px;
}

.footer {
    /* position: fixed; */
    background-color: white;
    bottom: 0;
    width: 100%;
    text-align: center;
}